* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(22, 22, 22);    
}






.topDiv {
    background-color: rgb(36, 36, 36);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 5%;
    overflow: hidden;
}

.topDiv h1 a {
    text-decoration: none;
    font-size: 40px;
    color: white;
}

.toggleBttn {
    /* position: absolute; */
    /* top: 32px; */
    /* right: 30px; */
    display: none;
    justify-content: space-between;
    flex-direction: column;
    width: 30px;
    height: 21px;
}

.bar {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
}

.keepHor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.navDiv ul {
    list-style: none;
    display: flex;
}

.navDiv li:nth-child(1) {
    margin-right: 10px;
}

.navDiv li a {
    /* background-color: green; */
    transition: all 0.3s ease 0s;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;

    padding: 16px;
    display: block;
}

.navDiv li a:hover {
    color: rgb(120, 120, 120)
}

@media screen and (max-width: 600px) {
    .topDiv {
        flex-direction: column;
    }

    .toggleBttn {
        display: flex;
    }

    .keepHor {
        width: 100%;
    }

    .navDiv {
        display: none;
        width: 100%;
    }

    .navDiv ul {
        width: 100%;
        flex-direction: column;
        padding: 12px 0 0;
    }

    .navDiv li{
        text-align: center;
    }

    .navDiv li:nth-child(1) {
        margin-right: 0;
    }

    .navDiv.active {
        display: flex;
    }
}




.middleDiv {
    /* background-color: green; */

    padding: 20px;
    text-align: center;
    color: white;
}

.memeImg {
    width: 90%;
    margin-top: 20px;
}

.aboutPanels {
    margin-top: 20px;

    display: flex;
    justify-content: center;
    /* background-color: violet; */
}

.profile {
    background-color: black;
    /* width: 50%; */
    /* padding: 10px; */
    margin: 10px 5% 0 5%;
    border: 4px solid white;
}

.imgPfp {
    width: 50%;
    padding-top: 10px;
    border-radius: 50%;
}

.nameText {
    margin-top: 20px;
    padding: 8px 0;
    background-color: gray;
}

.studyText {
    margin-top: 15px;
    padding: 8px 0;
    /* background-color: gray; */
}

.bttnsPanel {
    margin-top: 30px;
    margin-bottom: 20px;
}

.wppBttn {
    width: 50px;
    height: 50px;
    margin: 0 20px;
    background-image: url('./Assets/wappIcon.png');
    background-size: cover;
    border-radius: 20%;
    cursor: pointer;
}

.twitterBttn {
    width: 50px;
    height: 50px;
    margin: 0 20px;
    background-image: url('./Assets/twitterIcon.png');
    background-size: cover;
    border-radius: 20%;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .aboutPanels {
        flex-direction: column;
        align-items: center;
    }
}